---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import TimelineExperience from '../components/TimelineExperience.astro';
---

<Layout title="Jesus Imaña | Portfolio">
	<main>
		<Navbar />
		<Hero />
		<TimelineExperience />
		<Projects />
	</main>
</Layout>
