---
import { Image } from 'astro:assets';
import ProjectCard from './ProjectCard.astro';
import ProtoCoolImg from '../assets/ProtoCool.png';
import DerechoWebImg from '../assets/DerechoWeb.png';
import ExoPlanetsImg from '../assets/ExoPlanets.png';

const projects = [
  {
    title: 'ProtoCoolOS',
    description: 'Interactive learning website about different programming, sorting, and node algorithms.',
    image: ProtoCoolImg,
    link: '#',
    techs: ['HTML', 'CSS', 'JavaScript', 'vis.js'],
    code: 'https://github.com/JesdanRS/ProtoCoolOS',
    preview: 'https://jesdanrs.github.io/ProtoCoolOS/'
  },
  {
    title: 'DerechoWeb',
    description: 'Website designed for the Law career at the Universidad Catolica Boliviana.',
    image: DerechoWebImg,
    link: '#',
    techs: ['React', 'Node.js'],
    code: 'https://github.com/JesdanRS/Derecho_Web'
  },
  {
    title: 'ExoPlanets',
    description: 'Interactive website about exoplanets using real NASA data, developed for the Space Apps 2023 Hackathon.',
    image: ExoPlanetsImg,
    link: '#',
    techs: ['React', 'Express', 'D3.js'],
    code: 'https://github.com/JesdanRS/Space-Apps-Proyect',
    preview: 'https://space-apps-proyect.web.app/'
  },
];
---

<div class="py-20 flex items-center justify-center">
  <div class="max-w-6xl w-4/5">
    <h2 class="text-3xl font-bold text-white mb-12">Projects</h2>
    <div class="grid md:grid-cols-3 gap-8">
      {projects.map(project => (
        <ProjectCard {...project} />
      ))}
    </div>
  </div>
</div>
<section id="about" class="py-20 flex items-center justify-center">
  <div class="max-w-6xl w-4/5">
  <h2 class="text-3xl font-bold text-white mb-12">About Me</h2>
  <div class="max-w-3xl">
    <p class="text-gray-350 mb-4">
      My name is Jesús Imaña. I started programming by making a calculator in Visual Basic when I was 12 years old, and that's where my passion for all types of development began.
      <br>
      <br>
      I'm currently pursuing a degree in Systems Engineering, almost ready to graduate. I'm constantly learning new technologies and improving existing ones, while also working on projects to gain real-world experience.
      <br>
      <br>
      
      My strength is web development, but I'm currently delving deeper into the world of QA, learning more about testing and best practices.
    </p>
    </div>
  </div>
</section>