---
import { Image } from 'astro:assets';
import ProjectCard from './ProjectCard.astro';
import ProtoCoolImg from '../assets/ProtoCool.png';
import DerechoWebImg from '../assets/DerechoWeb.png';
import ExoPlanetsImg from '../assets/ExoPlanets.png';

const projects = [
  {
    title: 'ProtoCoolOS',
    description: 'Sitio web de aprendizaje interactivo sobre diferentes algoritmos de programacion, ordenacion y nodos.',
    image: ProtoCoolImg,
    link: '#',
    techs: ['HTML', 'CSS', 'JavaScript', 'vis.js'],
    code: 'https://github.com/JesdanRS/ProtoCoolOS',
    preview: 'https://jesdanrs.github.io/ProtoCoolOS/'
  },
  {
    title: 'DerechoWeb',
    description: 'Sitio web profesional para DerechoWeb, optimizado para SEO y rendimiento.',
    image: DerechoWebImg,
    link: '#',
    techs: ['React', 'Node.js'],
    code: 'https://github.com/JesdanRS/Derecho_Web'
  },
  {
    title: 'ExoPlanets',
    description: 'Visualización interactiva de exoplanetas usando datos reales.',
    image: ExoPlanetsImg,
    link: '#',
    techs: ['React', 'Express', 'D3.js'],
    code: 'https://github.com/JesdanRS/Space-Apps-Proyect',
    preview: 'https://space-apps-proyect.web.app/'
  },
];
---

<div class="py-20 flex items-center justify-center">
  <div class="max-w-6xl w-4/5">
    <h2 class="text-3xl font-bold text-white mb-12">Proyectos</h2>
    <div class="grid md:grid-cols-3 gap-8">
      {projects.map(project => (
        <ProjectCard {...project} />
      ))}
    </div>
  </div>
</div>
<section id="about" class="py-20 flex items-center justify-center">
  <div class="max-w-6xl w-4/5">
  <h2 class="text-3xl font-bold text-white mb-12">About</h2>
  <div class="max-w-3xl">
    <p class="text-gray-400 mb-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nisl eget ultricies tincidunt, nisl nisl aliquam nisl, eget ultricies nisl nisl eget nisl.
    </p>
    <p class="text-gray-400">
      Nullam auctor, nisl eget ultricies tincidunt, nisl nisl aliquam nisl, eget ultricies nisl nisl eget nisl.
    </p>
    </div>
  </div>
</section>